<h1>{{serverName}}</h1><p>The list of databases of {{serverName}}.</p>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/servers']">Servers</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{serverName}}</li>
    </ol>
</nav>

<p *ngIf="!databases"><em>Loading...</em></p>

<table class='table' *ngIf="databases">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let database of databases">
            <td><a [routerLink]="['/servers', serverName, 'databases', database.name, 'tables']">{{ database.name }}</a></td>
            <td>{{ database.description }}</td>
        </tr>
    </tbody>
</table>
