<h1>{{databaseName}}</h1>
<p>The list of tables of {{databaseName}} database and server {{serverName}}.</p>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/servers']">Servers</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{serverName}}</li>
        <li class="breadcrumb-item"><a [routerLink]="['/servers', serverName, 'databases']">Databases</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{databaseName}}</li>
        <li class="breadcrumb-item"><a [routerLink]="['/servers', serverName, 'databases']">Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{table.name}}</li>
    </ol>
</nav>

<p *ngIf="!table"><em>Loading...</em></p>

<div *ngIf="table">
    <h1>{{table.schema}}.{{table.name}}</h1>
    <p>{{table.description}}</p>
</div>

<table class='table' *ngIf="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Data type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let column of table.columns">
            <td>{{ column.name }}</td>
            <td>{{ column.description }}</td>
            <td>{{ column.dataType }}</td>
        </tr>
    </tbody>
</table>
